.mulll0-admin-page {
	background-color: #f1f1f1;
	width: 85%;
}
ul.mulll0-list {
	list-style-type: square;
	list-style-position: inside;
	margin: 1em;
}
.mulll-accordion-header {
	padding: 0.5em;
	background-color: #d8d8d8;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.mulll-accordion-expandable:hover {
	cursor: pointer;
	cursor: hand;
}
.mulll-accordion-content {
	display: none; /*initially hidden - revealed by javascript later on*/
	background-color: #f1f1f1;
	margin: 0.5em;
	padding: 0.5em;
}
.mulll0-shortcode-error {
	display: none; /*initially hidden - maybe revealed by javascript later on*/
}
.mulll0-shortcode {
	font-size: 80%;
	font-weight: bold;
}
.mulll0-dud-link:hover {
	cursor: pointer;
	cursor: hand;
}
